global
    log 127.0.0.1:514  local0 
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s
{% if not tls_disabled %}
frontend vault_http
    bind *:80
    redirect scheme https code 301 if !{ ssl_fc }
frontend vault_https
    bind *:443 ssl crt /etc/ssl/private/vault.pem
    default_backend vault
{% else %}
frontend vault_http
    bind *:80
    default_backend vault
{% endif %}
backend vault
    option httpchk
    {{"" if tls_disabled else "http-check connect ssl"}}
    http-check send meth GET uri /v1/sys/health
    http-check expect status 200
    {% for node in groups.nodes %}
    server node{{loop.index0}} {{node}}:8200 {{"" if tls_disabled else "ssl verify none"}} check
    {% endfor %}
