defaults
    log global
{% if not tls_disabled %}
frontend vault_http
    mode tcp
    bind *:80
    redirect scheme https code 301 if !{ ssl_fc }
frontend vault_https
    mode tcp
    log global
    bind *:443 ssl crt /etc/ssl/private/vault.pem
    default_backend vault
    option tcplog
{% else %}
frontend vault_http
    mode tcp
    log global
    option tcplog
    bind *:80
    default_backend vault
{% endif %}
backend vault
    mode tcp
    option httpchk
    {{"" if tls_disabled else "http-check connect ssl"}}
    http-check send meth GET uri /v1/sys/health
    http-check expect status 200
    {% for node in groups.nodes %}
    server node{{loop.index0}} {{node}}:8200 {{"" if tls_disabled else "ssl verify none"}} check
    {% endfor %}
